NR {
    font-weight: bold;
    color: #3c78d8;
}
ST {
    font-weight: bold;
    color: #6aa84f;
}
MO {
    font-weight: bold;
    color: #cc0000;
}
NG {
    font-weight: bold;
    color: #000000;
}
SK {
    font-weight: bold;
    color: #674ea7;
}
SY {
    font-weight: bold;
    color: #e69138;
}
RedB {
    font-weight: bold;
    color: #ff0000;
}
AdvGP {
    color: #e69138;
    font-weight: bold;
}
inline.img {
    
}
bold {
    font-weight: bold;
}